/* 아티스트 목록 */
.artist {
  width: 100%;
  height: 800px;
  margin-top: 200px;
}
.artist h1 {
  font-family: 'GmarketSansMedium';
  display: inline-block;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 1);
  /* margin-bottom: 50px; */
}
.artist i{
  font-size: 18px;
  font-weight: bold;
}
.artist .inner {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  /* min-height: 50vh; */
  color: gray;
  text-align: center;
}
.card-list{
  padding-top: 50px;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  /* margin-bottom: 50px; */
}
.card-list > div {
  width: 4vw;
  max-width: 120px;
  height: 8vh;
  background: red;
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.5rem;
  filter: grayscale(0.5) opacity(0.5) contrast(100%);
  transition: 0.5s;
  /* transform: skewY(-10deg); */
  z-index: -1;
}

.artist .inner .highlight {
  filter: grayscale(0) opacity(1);
  transform: scale(1.1);
  box-shadow: 0 1px 1px black;
  z-index: 100;
}
.artist-more{
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
  background: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 100px;
}
.artist-more a{
  font-family: 'GmarketSansMedium';
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.artist-more i{
  font-size: 14px;
}
.artist-more:hover{
  background-color: #e6e6e6;
}
#artist-card:nth-child(1) {
  background-color: dodgerblue;
  background-image: url(../images/artist_aespa.webp);
}
#artist-card:nth-child(2) {
  background-color: red;
  background-image: url(../images/artist_bts.webp);
}
#artist-card:nth-child(3) {
  background-color: purple;
  background-image: url(../images/artist_ive.webp);
}
#artist-card:nth-child(4) {
  background-color: darkorange;
  background-image: url(../images/artist_lesserafim.webp);
}
#artist-card:nth-child(5) {
  background-color: darkorange;
  background-image: url(../images/artist_newjeans.webp);
}
#artist-card:nth-child(6) {
  background-color: darkorange;
  background-image: url(../images/artist_seveteen.webp);
}
#artist-card:nth-child(7) {
  background-image: url(../images/artist_stayc.jpg);
  background-size: cover;
}
#artist-card:nth-child(8) {
  background-color: darkorange;
  background-image: url(../images/artist_txt.webp);
}
#artist-card:nth-child(9) {
  background-color: darkorange;
  background-image: url(../images/artist_itzy.webp);
}
#artist-card:nth-child(10) {
  background-color: darkorange;
  background-image: url(../images/artist_monstax.webp);
}
#artist-card:nth-child(11) {
  background-color: darkorange;
  background-image: url(../images/artist_twice.webp);
}
#artist-card:nth-child(12) {
  background-color: darkorange;
  background-image: url(../images/artist_nmixx.webp);
  background-size: cover;
}
#artist-card:nth-child(13) {
  background-color: darkorange;
  background-image: url(../images/artist_straykids.webp);
}
#artist-card:nth-child(14) {
  background-color: darkorange;
  background-image: url(../images/artist_ateez.webp);
  background-size: cover;
}
#artist-card:nth-child(15) {
  background-color: darkorange;
  background-image: url(../images/artist_idle.webp);
  background-size: cover;
}
#artist-card:nth-child(16) {
  background-color: darkorange;
  background-image: url(../images/artist_riize.webp);
  background-size: cover;
}
#artist-card:nth-child(17) {
  background-color: darkorange;
  background-image: url(../images/artist_ohmygirl.webp);
  background-size: cover;
}
#artist-card:nth-child(18) {
  background-color: darkorange;
  background-image: url(../images/artist_hikey.webp);
  background-size: cover;
}
#artist-card:nth-child(19) {
  background-color: darkorange;
  background-image: url(../images/artist_jeonsomi.webp);
  background-size: cover;
}
#artist-card:nth-child(20) {
  background-color: darkorange;
  background-image: url(../images/artist_iu.webp);
  background-size: cover;
}
#artist-card:nth-child(21) {
  background-color: darkorange;
  background-image: url(../images/artist_taeyean.webp);
  background-size: cover;
}
#artist-card:nth-child(22) {
  background-color: darkorange;
  background-image: url(../images/artist_yena.webp);
  background-size: cover;
}
#artist-card:nth-child(23) {
  background-color: darkorange;
  background-image: url(../images/artist_kepler.webp);
  background-size: cover;
}
#artist-card:nth-child(24) {
  background-color: darkorange;
  background-image: url(../images/artist_redvelvet.webp);
  background-size: cover;
}
#artist-card:nth-child(25) {
  background-color: darkorange;
  background-image: url(../images/artist_blackpink.webp);
  background-size: cover;
}
#artist-card:nth-child(26) {
  background-color: darkorange;
  background-image: url(../images/artist_nflying.webp);
  background-size: cover;
}
#artist-card:nth-child(27) {
  background-color: darkorange;
  background-image: url(../images/artist_nct127.webp);
  background-size: cover;
}
#artist-card::after {
  content: "NAME";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px #5f5f5f;
}
#artist-card:nth-child(1):after {
  content: "AESPA";
}
#artist-card:nth-child(2):after {
  content: "BTS";
}
#artist-card:nth-child(3):after {
  content: "IVE";
}
#artist-card:nth-child(4):after {
  content: "LESSERAFIM";
}
#artist-card:nth-child(5):after {
  content: "NEWJEANS";
}
#artist-card:nth-child(6):after {
  content: "SEVENTEEN";
}
#artist-card:nth-child(7):after {
  content: "STAYC";
}
#artist-card:nth-child(8):after {
  content: "TXT";
}
#artist-card:nth-child(9):after {
  content: "ITZY";
}
#artist-card:nth-child(10):after {
  content: "MONSTA X";
}
#artist-card:nth-child(11):after {
  content: "TWICE";
}
#artist-card:nth-child(12):after {
  content: "NMMIX";
}
#artist-card:nth-child(13):after {
  content: "STRAY KIDS";
}
#artist-card:nth-child(14):after {
  content: "ATEEZ";
}
#artist-card:nth-child(15):after {
  content: "(G)I-DLE";
}
#artist-card:nth-child(16):after {
  content: "RIIZE";
}
#artist-card:nth-child(17):after {
  content: "OH MY GIRL";
}
#artist-card:nth-child(18):after {
  content: "H1-KEY";
}
#artist-card:nth-child(19):after {
  content: "JEON SOMI";
}
#artist-card:nth-child(20):after {
  content: "IU";
}
#artist-card:nth-child(21):after {
  content: "TAE YEON";
}
#artist-card:nth-child(22):after {
  content: "YENA";
}
#artist-card:nth-child(23):after {
  content: "Kep1er";
}
#artist-card:nth-child(24):after {
  content: "Red Velvet";
}
#artist-card:nth-child(25):after {
  content: "BLACKPINK";
}
#artist-card:nth-child(26):after {
  content: "N.Flying";
}
#artist-card:nth-child(27):after {
  content: "NCT 127";
}
/* 더보기 */
.owl-theme .owl-dots .owl-dot span{
  width: 30px;
}
.line-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 100px;
  font-family: 'GmarketSansMedium';
}
/* -------- Landing page ------- */
.game-section {
  width: 100%;
  height: 800px;
  padding: 0 20px;
}
.game-section h3{
  font-size: 18px;
}
.game-section h4{
  display: none;
}
.game-section p{
  color: #ccc;
  font-size: 13px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  margin-bottom: 16px;
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
.artist-search{
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist-search input{
  border-radius: 5px;
  width: 200px;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'GmarketSansMedium';
}
.artist-search button{
  font-family: 'GmarketSansMedium';
  margin: 0 8px;
  margin-top: 2px;
  padding: 0 5px;
  /* position: absolute; */
  height: 30px;
  width: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: #8d4ccd;
  border: none;
  font-size: 12px;
}
.owl-dots{
  display: none;
}
.search-title{
  font-family: 'GmarketSansMedium';
  margin: 20px 0;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  /* -------- Landing page ------- */
  .game-section h3{
    font-size: 14px;
  }
  .game-section p{
    font-size: 12px;
  }
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}
@media (max-width: 480px) {
  /* -------- Landing page ------- */
  .game-section h3{
    font-size: 14px;
  }
  .game-section p{
    font-size: 12px;
  }
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 180px;
    height: 280px;
  }
  .game-section .item.active {
    width: 250px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}
@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
  .card-list{
    padding: 20px;
  }
  .card-list > div {
    width: 7vw;
    max-width: 300px;
    height: 8vh;
    background: red;
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.5rem;
    filter: grayscale(0.5) opacity(0.5) contrast(100%);
    transition: 0.5s;
    /* transform: skewY(-10deg); */
    z-index: -1;
  }
  #artist-card::after {
    content: "NAME";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px #5f5f5f;
  }
}
@media all and (max-width: 760px) {
  .artist{
    height: 800px;
  }
  .artist h1{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .artist i{
    font-size: 15px;
  }
  .artist-more{
    margin-bottom: 100px;
    width: 180px;
    height: 40px;
  }
  .card-list{
    padding: 0;
    width: 380px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y:scroll;
  }
  .card-list > div {
    width: 340px;
    max-width: 380px;
    height: 10vh;
    background: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: block;
    margin: 0.5rem;
    filter: grayscale(0.5) opacity(0.5) contrast(100%);
    transition: 0.5s;
    /* transform: skewY(-10deg); */
    z-index: 3;
  }
  #artist-card:nth-child(1){
    display: block;
  }
  #artist-card:nth-child(2){
    display: block;
  }
  #artist-card:nth-child(3){
    display: block;
  }
  #artist-card:nth-child(4){
    display: block;
  }
  #artist-card:nth-child(5){
    display: block;
  }
  #artist-card:nth-child(6){
    display: block;
  }
}
@media all and (max-width: 480px) {
  .artist{
    height: 800px;
  }
  .artist h1{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .artist i{
    font-size: 15px;
  }
  .artist-more{
    margin-bottom: 100px;
    width: 180px;
    height: 40px;
  }
  .card-list{
    padding: 0;
    width: 380px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y:scroll;
  }
  .card-list > div {
    width: 340px;
    max-width: 380px;
    height: 10vh;
    background: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: block;
    margin: 0.5rem;
    filter: grayscale(0.5) opacity(0.5) contrast(100%);
    transition: 0.5s;
    /* transform: skewY(-10deg); */
    z-index: 3;
  }
  #artist-card:nth-child(1){
    display: block;
  }
  #artist-card:nth-child(2){
    display: block;
  }
  #artist-card:nth-child(3){
    display: block;
  }
  #artist-card:nth-child(4){
    display: block;
  }
  #artist-card:nth-child(5){
    display: block;
  }
  #artist-card:nth-child(6){
    display: block;
  }
}
@media all and (max-width: 320px) {
  .artist{
    height: 800px;
  }
  .artist-more{
    margin-bottom: 100px;
    width: 180px;
    height: 40px;
  }
  .artist h1{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .artist i{
    font-size: 15px;
  }
  .card-list{
    padding: 0;
    width: 290px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y:scroll;
  }
  .card-list > div {
    width: 260px;
    max-width: 280px;
    height: 10vh;
    background: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: block;
    margin: 0.5rem;
    filter: grayscale(0.5) opacity(0.5) contrast(100%);
    transition: 0.5s;
    /* transform: skewY(-10deg); */
    z-index: 3;
  }
  #artist-card:nth-child(1){
    display: block;
  }
  #artist-card:nth-child(2){
    display: block;
  }
  #artist-card:nth-child(3){
    display: block;
  }
  #artist-card:nth-child(4){
    display: block;
  }
  #artist-card:nth-child(5){
    display: block;
  }
  #artist-card:nth-child(6){
    display: block;
  }
  .owl-dots{
    display: none;
  }
}
