/* 아티스트 목록 */
.artist {
  width: 100%;
  height: 800px;
  margin-top: 200px;
}
/* 더보기 */
.owl-theme .owl-dots .owl-dot span{
  width: 30px;
}
.line-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
  font-family: 'GmarketSansMedium';
}
/* -------- Landing page ------- */
.game-section {
  width: 100%;
  height: 800px;
  padding: 0 20px;
}
.game-section h3{
  font-size: 18px;
  font-weight: bold;
}
.game-section h4{
  display: none;
}
.game-section p{
  color: #ccc;
  font-size: 13px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  margin-bottom: 16px;
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
.artist-search{
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.artist-search input{
  border-radius: 5px;
  width: 200px;
  padding: 5px;
  border: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  font-family: 'GmarketSansMedium';
}
.artist-search button{
  font-family: 'GmarketSansMedium';
  margin: 0 8px;
  margin-top: 2px;
  padding: 0 5px;
  /* position: absolute; */
  height: 30px;
  width: 70px;
  border-radius: 5px;
  color: #fff;
  background-color: #8d4ccd;
  border: none;
  font-size: 12px;
}
.artist-search button:hover{
  background-color: #8038c7;
}
.owl-dots{
  display: none;
}
.search-title{
  font-family: 'GmarketSansMedium';
  margin: 20px 0;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  /* -------- Landing page ------- */
  .game-section h3{
    font-size: 14px;
  }
  .game-section p{
    font-size: 12px;
  }
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}
@media (max-width: 480px) {
  /* -------- Landing page ------- */
  .game-section h3{
    font-size: 14px;
  }
  .game-section p{
    font-size: 12px;
  }
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 180px;
    height: 280px;
  }
  .game-section .item.active {
    width: 250px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}
@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
  .card-list{
    padding: 20px;
  }
}
@media all and (max-width: 760px) {
  .artist{
    height: 800px;
  }
}
@media all and (max-width: 480px) {
  .artist{
    height: 800px;
  }
}
@media all and (max-width: 320px) {
  .artist{
    height: 800px;
  }
  .owl-dots{
    display: none;
  }
}
