/* 팬덤 */
.fandom {
  width: 100%;
  height: 790px;
  margin-bottom: 20px;
}
.fandom .inner {
  padding: 0;
  max-width: none;
}
.star .inner {
  padding: 0px 20px;
  /* max-width: 1440px; */
  width: 100%;
  display: flex;
}

.star {
  width: 100%;
  height: 750px;
  display: flex;
}
#fandomslide {
  padding: 0 20px;
  max-width: 1480px;
  display: block;
  position: relative;
  height: 100%;
}
#fandomslide1 {

  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#fandomslide1 #fandombg{
  background: url("../images/fandomb02.jpg");
}
#fandomslide2 {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#fandomslide2 #fandombg{
  background: url("../images/fandomb03.jpg");
  background-position-y: -306px;
  background-position-x: -180px;
}
#fandomslide3 {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#fandomslide3 #fandombg{
  background: url("../images/fandomb04.jpg");

}
.rank {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}
.fandom
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  width: 50px;
  height: 8px;
  background-color: #9c9c9c;
  box-shadow: 0px 0px 2px #ffffff;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  position: relative;
  display: block;
}
/* 랭킹내용 */
.ranktitle {
  margin-bottom: 10px;
}
.ranktitle > span {
  font-family: "Cafe24Ssurround";
  font-weight: 900;
  font-size: 35px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
  color: #444504;
  padding-left: 5px;
}
#fandomslide2 .ranktitle span,
#fandomslide2 .ranktitle h2 {
  color: #4b2e61;
}
#fandomslide3 .ranktitle span,
#fandomslide3 .ranktitle h2 {
  color: #491440;
}
.ranktxt {
  min-width: 593px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
#fandomslide1 .ranktxt{
  position: absolute;
  bottom: 30px;
  right: 50px;
}
#fandomslide2 .ranktxt{
  position: absolute;
  bottom: 30px;
  right: 50px;
}
#fandomslide3 .ranktxt{
  position: absolute;
  bottom: 30px;
  right: 50px;
}
.rankname {
  text-align: right;
  line-height: 60px;

}
.ranktxt .ranktitle h2 {
  text-align: right;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
  letter-spacing: 0.8px;
}
.ranktxt h1 {
  font-size: 70px;
  color: #fff;
  font-weight: bold;

}
#fandomslide1 .ranktxt h1{
  background-color:#EDBE19;
}
#fandomslide2 .ranktxt h1 {
  color: #8d5cb2;
}
#fandomslide3 .ranktxt h1 {
  color: #d158bd;
}
.ranktxt > span {
  font-size: 50px;
  color: #fff;
  text-align: right;
  display: block;
}

/* 랭킹순서버튼  */
#fandombtn {
  width: 157px;
  position: absolute;
  display: flex;
  top: 74%;
  transform: translateX(100%);
  left: 55.5%;
  flex-direction: row;
  height: 50px;
}
/* 보러가기 버튼 */
.rankbtn{
  position: absolute;
  bottom: 180px;
  right: 0;
}
.rankbtn1 {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #ffffff;

  cursor: pointer;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
#fandomslide2 .rankbtn1 {
  background-color: #8d5cb2;
}
#fandomslide3 .rankbtn1 {
  background-color: #d66cc5;
}
.rankbtn1 p {
  color: #EDBE19;
  font-weight: bold;
  font-size: 20px;
}
.rankbtn2 {
  margin-left: 24px;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.116);
}
.rankbtn2 p {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 20px;
}

/* 랭킹이미지 */
.fandomimg {
  display: block;
  height: 100%;
  width: 50%;
  position: relative;
}
.imgbox {
  position: relative;
  height: 685px;
  overflow: hidden;
}
.imgbox li {
  text-indent: -99999;
  display: block;
  position: absolute;
  border: 2px solid #394057;
}
.imgbox li span {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.imgbox li.active {
  border-color: #aa4200;
}

.fandom .swiper-slide {
  display: flex;
}
/* .fandom .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9999;
} */
.imgbox .starimg {
  width: 450px;
  height: 450px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  border-radius: 50%;
  background: url("../images/fandom_iu.jpg") no-repeat;
  background-size: cover;
  display: block;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: 0 0 50px #e4e724;
  z-index: 100;

  transition: all 0.2s ease-in;
}
#fandomslide2 .imgbox .starimg {
  background: url("../images/fandom_v2.jpg") no-repeat;
  background-size: cover;
  background-position-y: -50px;
  -webkit-box-shadow: 0 0 50px #8d5cb2;
  -moz-box-shadow: 0 0 50px #8d5cb2;
  box-shadow: 0 0 50px #8d5cb2;
}
#fandomslide3 .imgbox .starimg {
  background: url("../images/fandom_taeyeon.png") no-repeat;
  background-size: cover;
  background-position-y: -50px;
  -webkit-box-shadow: 0 0 50px #e769d2;
  -moz-box-shadow: 0 0 50px #e769d2;
  box-shadow: 0 0 50px #e769d2;
}
.imgbox .starimg span {
  width: 520px;
  height: 520px;
  border-radius: 50%;
  border: 1px dotted #8d5cb2;
  position: relative;
  top: -7%;
  left: -8%;
  transform: translate(-50%, -50%);
  animation: rotate 10s linear infinite;
}
.imgbox .starimg span p {
  background: #ffee51;
  background-size: cover;
  top: 51px;
  left: 45px;
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  /* animation: rotate 10s linear infinite; */
  border-radius: 50%;
  box-shadow: 0 0 20px #fff281;
}
#fandomslide2 .imgbox .starimg span p {
  background-color: #8d5cb2;
  box-shadow: 0 0 20px #bb88e2;
}
#fandomslide3 .imgbox .starimg span p {
  background-color: #e769d2;
  box-shadow: 0 0 20px #ff95ed;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.donat {
  display: block;
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #797979;
}

@media all and (max-width: 1680px) {
  #fandombtn {
    left: 58%;
  }
}
@media all and (max-width: 1280px) {
  .fandom
    .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    font-size: 18px;
    line-height: 15px;
  }
  .star {
    height: 780px;
  }
  /* 랭킹내용 */
  #fandomslide1,
  #fandomslide2,
  #fandomslide3 {
    padding-left: 40px;
  }
  .ranktxt {
    min-width: 420px;
    padding: 0;
  }
  .ranktxt h1 {
    font-size: 58px;
  }
  .ranktxt h2 {
    font-size: 40px;
  }
  .ranktxt > h1 > span {
    font-size: 40px;
  }
  /* 랭킹순서버튼 */
  #fandombtn {
    top: 75%;
    left: 53%;
  }
  /* 보러가기버튼 */
.rankbtn1,
.rankbtn2 {
  width: 165px;
  height: 55px;
  border-radius: 15px;
}
.rankbtn1 p,
.rankbtn2 p {
  font-size: 18px;
}
/* 랭킹이미지 */
.fandombox {
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}
.imgbox .starimg {
  width: 380px;
  height: 380px;
}
.imgbox .starimg span {
  width: 430px;
  height: 430px;
  border-radius: 50%;
  border: 1px dotted #8d5cb2;
  position: relative;
  top: -6%;
  left: -7%;
}
.imgbox .starimg span p {
  top: 34px;
  width: 43px;
  height: 43px;
}
.donation {
  height: 86px;
}

}

@media all and (max-width: 1024px) {
  .fandom {
    height: 700px;
  }
  .star {
    height: 700px;
  }
  #fandombox {
    /* height: 700px; */
  }
  #fandomslide1,
  #fandomslide2,
  #fandomslide3 {
    padding-left: 0px;
  }
  #fandombtn {
    top: 73%;
    left: 43%;
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }
  .fandom .swiper-slide {
    flex-direction: column-reverse;
    align-items: center;
  }
  /* 랭킹내용 */
  .ranktxt {
    min-width: 359px;
  }

  .ranktxt .ranktitle h2 {
    margin-top: 0px;
    font-size: 36px;
    line-height: 40px;}

  .ranktxt h1 {
    font-size: 50px;
  }
  .ranktxt > h1 > span {
    font-size: 25px;
  }
  .ranklist li::before {
    left: 33%;
  }
  .rankbtn {
    width: 100%;
    top: 52%;
    left: 47%;
    /* text-align: center; */
  }
  .ranktxt > h1 > span {
    font-size: 30px;
  }
  .ranklist li {
    padding: 5px 0px;
    margin-left: 0;
  }
  .ranklist li a {
    font-size: 20px;
  }
  .ranklist li::before {
    display: none;
  }
  /* 보러가기버튼 */
  .rankbtn1,
  .rankbtn2 {
    width: 140px;
    height: 40px;
    border-radius: 10px;
  }
  .rankbtn1 p,
  .rankbtn2 p {
    font-size: 15px;
  }
  /* 랭킹이미지 */
  .imgbox {
    height: 559px;
  }
  .imgbox .starimg {
    width: 300px;
    height: 300px;
  }
  .imgbox .starimg span {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 1px dotted #8d5cb2;
    position: relative;
    top: -6%;
    left: -6%;
  }
  .imgbox .starimg span p {
    top: 10px;
  }
  .imgbox li span {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  /* 총모금액 */
  .cheering {
    width: 35%;
    min-width: 260px;
  }
  .amount {
    width: 65%;
  }
}
@media all and (max-width: 760px) {
  .fandom .inner {
    padding: 0;
  }
  .fandom {
    height: 757px;
  }
  #fandombox {
    height: 771px;
  }
  .star {
    height: 736px;
  }
  .star .inner {
    flex-direction: column-reverse;
  }

  /* 랭킹이미지 */
  .fandomimg {
    height: 70%;
    width: 100%;
  }
  #fandombtn {
    display: none;
  }
  .imgbox {
    height: 360px;
  }
  .ranktitle {
    margin-top: 0;
  }
  .ranktitle h2 {
    text-align: center;
  }
  .ranktxt .ranktitle h2 {
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
  }
  .ranktxt {
    min-width: -webkit-fill-available;
    text-align: center;
    height: 80%;
  }
  .ranktxt li {
    display: none;
  }
  .ranktxt h1 {
    font-size: 50px;}

  .rankname {
    text-align: center;
  }
  .imgbox .starimg {
    top: 50%;
  }
  .imgbox .starimg span {
    display: none;
  }
  /* 랭킹순서버튼 */
  #fandombtn {
    top: 50%;
    left: 44%;
    transform: translateX(-20%);
  }
  .ranktxt > h1 > span {
    font-size: 25px;
  }
  /* 보러가기버튼 */
  .rankbtn1,
  .rankbtn2 {
    width: 120px;
    height: 40px;
    border-radius: 10px;
  }
  .rankbtn1 p,
  .rankbtn2 p {
    font-size: 14px;
  }
}
@media all and (max-width: 480px) {
  /* 랭킹순서버튼 */
  #fandombtn {
    top: 52%;
    left: 38%;
    transform: translateX(-20%);
  }
  .ranktxt h2 {
    margin-top: 6px;
  }

  .cheering {
    display: none;
  }
}
@media all and (max-width: 320px) {
.rankname{
  line-height: 45px;
}
}