/* 팬덤 */
.fandom {
  width: 100%;
  height: 790px;
  margin-bottom: 20px;
}
.fandom .inner {
  padding: 0;
  max-width: none;
}
.star .inner {
  padding: 0px 20px;
  max-width: 1440px;
  width: 100%;
  display: flex;
}

.star {
  width: 100%;
  height: 832px;
  display: flex;
}

.rank {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}
.fandom
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  width: 50px;
  height: 8px;
  background-color: #9c9c9c;
  box-shadow: 0px 0px 2px #ffffff;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  position: relative;
  display: block;
}
/* 랭킹내용 */
.ranktitle {
  margin-bottom: 10px;
}
.ranktitle > span {
  font-family: 'GmarketSansMedium';
  font-weight: 900;
  font-size: 35px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
  color: #444504;
  padding-left: 5px;
}
.ranktxt {
  min-width: 593px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.rankname {
  text-align: left;
  line-height: 60px;
}

.ranktxt .ranktitle h2 {
  font-family: 'GmarketSansMedium';
  text-align: left;
  font-size: 35px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
  letter-spacing: 0.8px;
}

.ranktxt h1 {
  font-family: 'GmarketSansMedium';
  font-size: 70px;
  color: #fff;
  font-weight: bold;
}

.ranktxt > span {
  font-size: 50px;
  color: #fff;
  text-align: right;
  display: block;
}

/* 보러가기 버튼 */
.rankbtn {
  position: absolute;
  bottom: -60px;
  right: 0;
}
.rankbtn1 {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #ffffff;

  cursor: pointer;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.rankbtn1 p {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

/* 슬라이드 1 */

#fandomslide {
  padding: 0 20px;
  max-width: 1480px;
  display: block;
  position: relative;
  height: 100%;
}

#fandomslide1 {
  background-color: #fff;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../images/fandomb03.jpg") no-repeat center;
  background-size: cover;
}
#fandomslide1 .ranktxt .ranktitle h2 {
  text-align: right;
}
#fandomslide1 .ranktxt {
  position: absolute;
  bottom: 120px;
  right: 50px;
}
#fandomslide1 .ranktxt h1 {
  color: #ffffff;
}

#fandomslide1 .ranktxt > span {
  display: none;
}
#fandomslide1 .rankbtn1 {
  background-color: #ffffff;
}
#fandomslide1 .rankbtn1 p {
  color: #314633;
}
#fandomslide1 .rankbtn1:hover {
  background-color: #314633;
}
#fandomslide1 .rankbtn1 p:hover {
  color: #fff;
}
#fandomslide1 .rankname {
  text-align: right;
}
#fandomslide1 .ranktxt > span {
  display: none;
}

/* 슬라이드 2 */

#fandomslide2 {
  background-color: #fff;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../images/fandomb06.jpg") no-repeat center;
  background-size:cover;
}
#fandomslide2 .ranktitle h2 {
  color: #ffffff;
  font-size: 25px;
}
#fandomslide2 .ranktxt h1 {
  color: #b85f87;
}

#fandomslide2 .ranktxt {
  position: absolute;
  bottom: 250px;
  left: 50px;
}

#fandomslide2 .ranktxt > span {
  text-align: left;
  font-size: 35px;
}

#fandomslide2 .rankbtn {
  position: absolute;
  bottom: -70px;
  left: 0;
}
#fandomslide2 .rankbtn1:hover {
  background-color: #d74989;
}
#fandomslide2 .rankbtn1 p:hover {
  color: #fff;
}
#fandomslide2 .rankbtn1 p {
  color: #e588b2;
}

/* 슬라이드 3  */
#fandomslide3 {
  background-color: #fff;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../images/fandomb04.jpg") no-repeat center;
  background-size: cover;
}

#fandomslide3 .ranktxt {
  position: absolute;
  bottom: 50%;
  right: 0;
}
#fandomslide3 .ranktxt h1 {
  text-align: right;
}
#fandomslide3 .ranktxt .ranktitle h2 {
  text-align: right;
}
#fandomslide3 .ranktxt > span {
  display: none;
}
#fandomslide3 .rankbtn {
  position: absolute;
  bottom: -70px;
}
#fandomslide3 .rankbtn1:hover {
  background-color: #000058;
}
#fandomslide3 .rankbtn1 p:hover {
  color: #fff;
}
#fandomslide3 .rankbtn1 p {
  color: #00008b;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.donat {
  display: block;
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #797979;
}

@media all and (max-width: 1680px) {
}
@media all and (max-width: 1280px) {
  .fandom
    .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    font-size: 18px;
    line-height: 15px;
  }
  .star {
    height: 780px;
  }
  /* 랭킹내용 */
  .ranktxt {
    min-width: 420px;
    padding: 0;
  }
  .ranktxt h1 {
    font-size: 58px;
  }
  #fandomslide2.ranktxt .ranktitle h2 {
    font-size: 20px;
  }
  .ranktxt > h1 > span {
    font-size: 40px;
  }

  /* 보러가기버튼 */
  #fandomslide1 .rankbtn {
    position: absolute;
    right: 50px;
  }
  /* 슬라이드 2 */
  #fandomslide2 .ranktxt {
    bottom: 120px;
  }
  /* 슬라이드3 */
  #fandomslide3 .ranktxt {
    bottom: 120px;
    right: 50px;
  }
  #fandomslide3 .ranktxt .ranktitle h2 {
    text-align: right;
  }
  #fandomslide3 .rankbtn {
    bottom: -57px;
    right: 50px;
  }
  .rankbtn1 p,
  .rankbtn2 p {
    font-size: 18px;
  }
  /* 랭킹이미지 */
  .fandombox {
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
  }
  .donation {
    height: 86px;
  }
}

@media all and (max-width: 1024px) {
  .fandom {
    height: 600px;
  }
  .star {
    height: 600px;
  }
  #fandomslide1,
  #fandomslide2,
  #fandomslide3 {
    padding-left: 0px;
  }
  #fandombtn {
    top: 73%;
    left: 43%;
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }
  .fandom .swiper-slide {
    flex-direction: column-reverse;
    align-items: center;
  }
  /* 랭킹내용 */
  .ranktxt {
    min-width: 359px;
  }
  .ranktitle {
    margin-bottom: 0px;
  }
  .ranktxt .ranktitle h2 {
    margin-top: 0px;
    font-size: 36px;
    line-height: 40px;
  }

  .ranktxt h1 {
    font-size: 50px;
  }
  .rankbtn {
    position: absolute;
    bottom: -55px;
  }
  /* 슬라이드 */
  #fandomslide1 .rankbtn {
    right: 0;
  }
  /* 슬라이드 2 */
  #fandomslide2 .ranktitle {
    margin-bottom: 0px;
  }
  #fandomslide2 .ranktitle h2 {
    font-size: 20px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    line-height: 21px;
  }

  #fandomslide2 .ranktxt > span {
    font-size: 30px;
  }
  #fandomslide2 .rankbtn {
    bottom: -55px;
  }
  /* 슬라이드 3 */
  #fandomslide3 .rankbtn {
    bottom: -55px;
    right: 0;
  }
  .ranktxt .ranktitle h2 {
    font-size: 30px;
  }
  .rankbtn1,
  .rankbtn2 {
    width: 140px;
    height: 40px;
    border-radius: 10px;
  }
  .rankbtn1 p,
  .rankbtn2 p {
    font-size: 15px;
  }
  /* 랭킹이미지 */
  /* 총모금액 */
  .cheering {
    width: 35%;
    min-width: 260px;
  }
  .amount {
    width: 65%;
  }
}
@media all and (max-width: 760px) {
  .fandom .inner {
    padding: 0;
  }
  .fandom {
    height: 460px;
  }
  #fandombox {
    height: 460px;
  }
  .star {
    height: 450px;
  }

  /* 보러가기버튼 */
  .rankbtn1 {
    width: 120px;
    height: 40px;
    border-radius: 10px;
  }
  .rankbtn1 p {
    font-size: 14px;
  }
  .ranktxt h1 {
    font-size: 40px;
  }

  /* 슬라이드 1 */
  #fandomslide1 .ranktxt {
    bottom: 67px;
    right: 21px;
  }
  #fandomslide1 .ranktxt .ranktitle h2 {
    line-height: 20px;
    font-size: 28px;
  }
  #fandomslide1 .rankbtn {
    right: 5px;
    bottom: -43px;
  }

  /* 슬라이드 3 */
  #fandomslide2 .ranktxt {
    bottom: 67px;
    left: 21px;
  }
  #fandomslide2 .ranktitle h2 {
    font-size: 15px;

    line-height: 9px;
  }

  #fandomslide2 .ranktxt > span {
    font-size: 25px;
  }
  #fandomslide2 .rankbtn {
    bottom: -43px;
  }
  /* 슬라이드 3 */
  #fandomslide3 .ranktxt {
    bottom: 67px;
    right: 21px;
  }
  #fandomslide3 .ranktxt .ranktitle h2 {
    line-height: 20px;
    font-size: 28px;
  }
  #fandomslide3 .rankbtn {
    bottom: -48px;
  }
}

@media all and (max-width: 480px) {
  /* 랭킹순서버튼 */
  #fandombtn {
    top: 52%;
    left: 38%;
    transform: translateX(-20%);
  }
  .ranktxt h2 {
    margin-top: 6px;
  }
  /* 슬라이드 1 */
  #fandomslide1 .ranktxt {
    right: 15px;
  }
  #fandomslide1 .ranktxt .ranktitle h2 {
    font-size: 20px;
  }
  /* 슬라이드 2 */

  #fandomslide2 .ranktxt h1 {
    width: 100%;
  }
  #fandomslide2 .ranktxt {
    bottom: 67px;
    right: 21px;
  }
  #fandomslide2 .ranktxt .ranktitle h2 {
    display: none;
  }
  #fandomslide2 .ranktxt h1 {
    font-size: 35px;
  }
  /* 슬라이드 3 */
  #fandomslide3 .ranktxt .ranktitle h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 320px) {
  #fandomslide1 .rankbtn {
    bottom: -30px;
  }
  .rankbtn1 {
    width: 100px;
    height: 32px;
    border-radius: 10px;
  }
  #fandomslide1 .ranktxt {
    bottom: 51px;
  }

  #fandomslide1 .ranktxt .ranktitle h2 {
    font-size: 17px;
    line-height: 5px;
  }
  #fandomslide1 .ranktxt h1 {
    font-size: 35px;
  }
  /* 슬라이드 2 */
  #fandomslide2 .ranktxt {
    bottom: 51px;
  }

  #fandomslide2 .ranktxt .ranktitle h2 {
    font-size: 17px;
  }
  #fandomslide2 .ranktxt h1 {
    font-size: 26px;
  }
  #fandomslide2 .rankbtn {
    bottom: -30px;
  }
  /* 슬라이드 3 */
  #fandomslide3 .rankbtn {
    bottom: -30px;
  }
  #fandomslide3 .ranktxt {
    bottom: 51px;
  }
  #fandomslide3 .ranktxt .ranktitle h2 {
    font-size: 17px;
    line-height: 5px;
  }
}
