/* 굿즈 */
.goods {
  margin-top: 100px;
  width: 100%;
  height: 700px;
  position: relative;
  margin-bottom: 100px;
}
.goods > .inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goods-title{
margin-bottom: 50px;
width: 100%;
height: 200px;
display: flex;
flex-direction: column;
text-align: center;
}
.goods-title a{
  font-family: 'GmarketSansMedium';
  font-size: 12px;
  height: 30px;
}
.goods-title img{
  height: 100%;
}
.goods-title b{
  color: #8d5cb2;
}
.goods-title h1{
  font-family: 'GmarketSansMedium';
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
}
.goods-title p{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
.goods-picture{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.goods-picture img{
  width: 250px;
  height: 210px;
  transition: all 0.5s;
}
#goods-box{
  width: 250px;
  height: 210px;
  overflow: hidden;
  position: relative;
}
#goods-box:nth-child(4) img{
  height: 230px;
}
#goods-box::after {
  content: "NAME";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
#goods-box:nth-child(1):after {
  content: "미공개 앨범(별의 온도 ver)";
}
#goods-box:nth-child(2):after {
  content: "아티스트 애장품";
}
#goods-box:nth-child(3):after {
  content: "랜덤카드(별의 온도 ver)";
}
#goods-box:nth-child(4):after {
  content: "콘서트 티켓";
}
#goods-box:nth-child(5):after {
  content: "별의온도x아티스트 키링";
}
#goods-box:hover img{
  scale: 1.1;
}
.goods-more{
  font-weight: bold;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  background: none;
  border: none;
  border-radius: 5px;
  margin-top: 120px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: 'GmarketSansMedium';
}
.goods-more:hover{
  background: #f5f5f5;
}
@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {

}

@media all and (max-width: 1024px) {
  .goods-picture{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

}
@media all and (max-width: 760px) {

}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
  .goods-picture{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    overflow-x: scroll;
  }
}
