/* 헤더 */
.header {
  position: sticky;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  z-index: 9999;
  transform: 0.3s;
  background-color: rgb(255, 255, 255);
}
.header .inner {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 200px;
  height: 35px;
}
.header .logo img {
  height: 100%;
}
.nav {
  width: 50%;
  display: block;
}
.nav ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul li {
  position: relative;
  font-family: "GmarketSansMedium";
  font-weight: bold;
  font-size: 17px;
  padding: 0 5px;
}
.nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  display: block;
  width: 100%;
  height: 3px;
  background: #ad5cff;
  opacity: 0;
  transition: all 0.3s;
}
.nav ul li a {
  transition: all 0.3s;
}
.nav ul li:hover::after {
  opacity: 1;
}
.nav ul li:hover {
  cursor: pointer;
}
.nav ul li:hover a {
  color: #ebdeff;
}
.login {
  width: 133px;
  position: relative;
  display: flex;
  /* height: 40px; */
  align-items: flex-start;
  justify-content: flex-end;
}

.login a {
  margin-right: 20px;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.3s;
}

/* 로그인 */
/* 섹션 스타일 */
#login-section,
#singup-section,
#dashboard-section {
  position: relative;
  display: flex;
  /* width: 100%; */
  /* background-color: #ebdeff; */
  text-align: center;
  /* margin-bottom: 20px; */
}

#singup-section {
  width: 30%;
  margin-left: 20px;
}

#dashboard-section {
  position: relative;
  display: flex;
  /* width: 70%; */
  align-items: center;
  font-family: "GmarketSansMedium";
}

/* 버튼 */
#login-button {
  background: none;
  color: #1b1b1b;
  font-family: "GmarketSansMedium";
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
}

#logout-button {
  height: 100%;
  color: #1b1b1b;
  font-family: "GmarketSansMedium";
  border: none;
  font-weight: bold;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: none;
}

/* 사용자 이름 디스플레이 스타일 */
#username-display {
  position: relative;
  display: flex;
  color: #8d5cb2;
  font-weight: bold;
  width: 60%;
  margin-right: 25px;
  font-size: 18px;
}
.top-button {
  position: fixed;
  right: 30px;
  bottom: 40px;
  z-index: 9999;
  width: auto;
}
.top-btn {
  display: block;
  background-color: #8d4ccd;
  border-radius: 50%;
  width: 55px;
  line-height: 55px;
  text-align: center;
}
.top-btn img {
  transform: rotate(180deg);
}
.top-btn img.up {
  transform: rotate(0deg);
}
.top-button .qna-btn {
  display: block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  cursor: pointer;
  transition: transform ease 0.5s;
  margin-bottom: 5px;
}
/* qna 버튼 */

#qna-btn-img {
  transform: translateY(-2px);
  border-radius: 50%;
}

.qna {
  position: fixed;
  right: 30px;
  bottom: 157px;
  width: 20%;
  min-width: 390px;
  box-sizing: border-box;
  z-index: 99999;
  background-color: #fff;
  display: none;
  border-radius: 10px;
  border: 0.5px solid #ccc;
}

.qna > .qnaheader {
  text-align: center;
  font-size: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 10px 10px 0 0;
  background-color: #8d57c2;
}
.qna > .qnaheader p {
  font-weight: bold;
  display: inline;
}
.qna > .qnaheader span {
  font-size: 15px;
}
.qna > .qnaheader i {
  float: right;
  cursor: pointer;
  line-height: inherit;
  transform: translate(-5px, -22px);
}
.qna > .qnaheader i:hover {
  color: #000;
}
.qnainput input[type="text"] {
  border-radius: 5px;
  border: none;
  padding: 8px;
  display: block;
  box-sizing: border-box;
  background: #f3f3f3;
  font-size: 16px;
  color: #401c64;
}
.qnainput button {
  border-radius: 5px;
  border: none;
  display: block;
  box-sizing: border-box;
  background-color: #a674d8;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  line-height: initial;
}
.qnainput button:hover {
  background-color: #8d4ccd;
}
.qna > .messages {
  height: 450px;
  background: linear-gradient(#fbf4ff, #ffffff);
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 20px;
}
.qna > .messages .msg {
  float: left;
  margin-right: 50%;
  margin-left: 2%;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
}
.qna > .messages .msg img {
  border-radius: 50%;
  background-color: #8d57c2;
  width: 15%;
  margin-right: 10px;
}
.qna > .messages > span img {
  width: 40%;

  object-fit: contain;
}
.messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #fff;
}

.messages::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.qna > .messages > .message {
  margin-top: 5px;
  width: 48%;
  padding: 15px 8px;
  box-sizing: border-box;
  border-radius: 8px;
}
.qna > .messages > .message.ai {
  float: left;
  margin-right: 50%;
  margin-left: 2%;
  border-bottom-left-radius: 0px;
  background: #f3ebfa;
  font-size: 15px;
}
.qna > .messages > .message.me {
  float: right;
  margin-left: 50%;
  margin-right: 2%;
  border-bottom-right-radius: 0px;
  background: #a674d8;
  color: #fff;
}
.idle {
  opacity: 0.5;
  height: 41px;
  width: 60px !important;
}
.idle div {
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #000;
  margin: 0px 2px;
  border-radius: 3px;
}
.idle div:first-child {
  margin-left: 10px;
  animation: idlea 2s infinite ease-in-out;
}
.idle div:nth-child(2) {
  animation: idlea1 2s infinite ease-in-out;
}
.idle div:nth-child(3) {
  animation: idlea2 2s infinite ease-in-out;
}
@keyframes idlea {
  0% {
    transform: scale(1);
  }
  33.3% {
    transform: scale(2);
  }
  33.4% {
    transform: scale(1);
  }
}
@keyframes idlea1 {
  33.4% {
    transform: scale(1);
  }
  66.6% {
    transform: scale(2);
  }
  66.7% {
    transform: scale(1);
  }
}
@keyframes idlea2 {
  66.7% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(2);
  }
}
.qna > .qnainput {
  border-top: 1px solid rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
  padding: 10px 5px;
  overflow: hidden;
  margin-top: 10px;
}
.qna > .qnainput input {
  width: 85%;
  float: left;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.qna > .qnainput button {
  float: right;
  width: 15%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* 마이페이지 모달 */
#my_modal {
  position: fixed;
  z-index: 999;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all 0.3s;
  background-color: rgba(45, 45, 45, 0.5);
  visibility: hidden;
  display: none;
}
.modal_wrap {
  width: 100%;
  height: 100%;
  right: -100%;
  position: absolute;
  top: 0;
  transition-duration: 1s;
}
.my_modal-content {
  background-color: #a674d8;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}
.close-my_modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-my_modal:hover,
.close-my_modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#my_li {
  cursor: pointer;
}
#close-my_modal {
  position: absolute;
  display: block;
  background: none;
  border: none;
  top: 5%;
  right: 10%;
  color: #fff;
  font-size: 20px;
  padding-left: 10px;
}

/* ------------------------------------- */
/* 아이콘 */
.profile {
  position: absolute;
  display: flex;
  top: -170px;
  right: 20px;
  align-items: center;
  cursor: pointer;  
}
.profile p {
  font-size: 15px;
  margin-right: 10px;
  text-decoration: underline;
}
.fa-user {
  font-size: 20px;
  margin-left: 20px;
  color: #8d5cb2;
  display: none;
  cursor: pointer;
  display: block;
}
.icon_box {
  position: absolute;
  display: block;
  top: 40px;
  right: 10px;
  width: 400px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  visibility: hidden;
}
.icon_box_top {
  position: relative;
  display: block;
  background-color: #dbb6ff;
  border-radius: 10px 10px 0 0;
  padding: 20px 0;
  text-align: center;
}
.icon_box_top img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}
.icon_text {
  position: relative;
  display: block;
  font-size: 18px;
}
.icon_box_bottom {
  background-color: #ffffff;
  border: 0.5px solid #2d2d2d3a;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  gap: 20px;
}
.icon_activity {
  position: relative;
  display: flex;
  width: 100%;
  align-items: baseline;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-left: 20px;
  /* background-color: aquamarine; */
}
.graph_box1 {
  position: relative;
  display: block;
  width: 25px;
  height: 80px;
  margin: 10px;
  background-color: #dbb6ff;
}
.graph_box2 {
  position: relative;
  display: block;
  width: 25px;
  height: 150px;
  margin: 10px;
  background-color: #ff9bdc;
}
.icon_activity_text {
  position: absolute;
  display: block;
  /* background-color: brown; */
  top: 30px;
  right: 10%;
  font-size: 14px;
  line-height: 50px;
  padding-left: 20px;
  border-left: 0.5px solid #2d2d2d3a;
}
.icon_activity_text p {
  font-size: 16px;
  font-weight: 500;
}
.icon_each {
  position: relative;
  display: block;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 10px;
  width: calc((100% - 20px) / 2);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.icon_each span {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: bold;
  border-bottom: 0.5px solid #e1e1e1;
}
.icon_each img {
  position: relative;
  display: block;
  width: 60px;
  height: 80px;
  /* border-radius: 100%; */
  margin: 0 auto;
  padding-top: 5px;
  /* object-fit: cover; */
}
.icon_each p {
  position: relative;
  display: block;
  padding-top: 5px;
  font-size: 15px;
}

/* 모달 수정 */
.icon_box {
  position: absolute;
  display: block;
  top: 40px;
  right: 10px;
  width: 400px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  visibility: hidden;
}
.icon_box_top_modal {
  position: relative;
  display: block;
  background-color: #dbb6ff;
  border-radius: 10px 10px 0 0;
  padding: 20px 0;
  text-align: center;
}
.icon_box_top_modal img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}
.icon_text_modal {
  position: relative;
  display: block;
  font-size: 18px;
}
.icon_box_bottom_modal {
  background-color: #ffffff;
  border: 0.5px solid #2d2d2d3a;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  gap: 20px;
}
.icon_activity_modal {
  position: relative;
  display: flex;
  width: 100%;
  align-items: baseline;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-left: 20px;
  /* background-color: aquamarine; */
}
.graph_box1 {
  position: relative;
  display: block;
  width: 25px;
  height: 80px;
  margin: 10px;
  background-color: #dbb6ff;
}
.graph_box2 {
  position: relative;
  display: block;
  width: 25px;
  height: 150px;
  margin: 10px;
  background-color: #ff9bdc;
}
.icon_activity_text_modal {
  position: absolute;
  display: block;
  /* background-color: brown; */
  top: 30px;
  right: 10%;
  font-size: 14px;
  line-height: 50px;
  padding-left: 20px;
  border-left: 0.5px solid #2d2d2d3a;
}
.icon_activity_text_modal p {
  font-size: 16px;
  font-weight: 500;
}
.icon_each_modal {
  position: relative;
  display: block;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 10px;
  width: calc((100% - 20px) / 2);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.icon_each_modal span {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: bold;
  border-bottom: 0.5px solid #e1e1e1;
}
.icon_each_modal img {
  position: relative;
  display: block;
  width: 60px;
  height: 80px;
  /* border-radius: 100%; */
  margin: 0 auto;
  padding-top: 5px;
  /* object-fit: cover; */
}
.icon_each_modal p {
  position: relative;
  display: block;
  padding-top: 5px;
  font-size: 15px;
}

/* 모바일 메뉴 */
.nav-mb {
  z-index: 999; /* 다른 요소 위에 나타나도록 설정 */
  width: 100%;
  position: absolute;
  top: 71px;
  left: 0;
  display: none;
  transition: right 0.5s ease; /* 메뉴 위치 변화를 부드럽게 만들기 위한 트랜지션 */
}

.nav-mb ul li {
  font-family: "GmarketSansMedium";
  display: none;
  background-color: #fff;
  width: 100%;
  padding: 0 20px;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  transition: all 0.5s;
}
.nav-mb ul li:hover {
  background-color: #eee4f8;
}
.nav-mb ul li:hover a {
  color: #8d4ccd;
}
#toggleButton {
  font-size: 23px;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
  .nav ul li {
    font-size: 15px;
  }
  #login-button {
    font-size: 15px;
  }
  #logout-button {
    font-size: 15px;
  }
  .login i {
    font-size: 15px;
  }
}
@media all and (max-width: 760px) {
  .nav {
    display: none;
  }
  #login {
    display: none;
  }
  .nav-mb ul li {
    display: block;
  }
  .nav-mb ul li:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-mb ul li:nth-child(7) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-mb ul li:nth-child(8) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #toggleButton {
    display: block;
  }
  #my_modal {
    display: block;
  }
}
@media all and (max-width: 480px) {
  .qna {
    width: 90%;
    min-width: 220px;
  }
  .qna > .messages > .message.ai {
    font-size: 16px;
  }
  .icon_each_modal {
    width: calc(80% / 2);
  }
  .icon_each_modal p {
    color: #2d2d2d;
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
  }
  .icon_each_modal span {
    color: #2d2d2d;
    font-size: 12px;
    font-weight: 700;
  }
  .icon_each_modal img {
    width: 40px;
    height: 60px;
  }
  .graph_box1 {
    display: none;
  }
  .graph_box2 {
    display: none;
  }
  .icon_activity_modal {
    height: 150px;
  }
  .icon_activity_modal p {
    display: none;
  }
}
@media all and (max-width: 320px) {
  .qna {
    width: 80%;
    min-width: 220px;
  }
}
