/* 소식 */
.news {
  width: 100%;
  height: 1150px;
  margin-bottom: 50px;
}
.news .mb_title1{
  display: none;
}
.news .mb_title2{
  display: none;
}
.news .title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  height: 150px;
  overflow: hidden;
}
.news h1 {
  font-family: 'GmarketSansMedium';
  font-size: 20px;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
}
.news i {
  font-size: 18px;
}
.news-card {
  float: left;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  width: 50%;
  height: 80%;
}
.news .newSwiper {
  width: 80%;
  height: 100%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.news .newSwiper h1 {
  font-family: "Noto Sans KR";
  font-weight: 500;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: block;
  font-size: 20px;
  padding: 0 30px;
  text-align: left;
}
.news .newSwiper h2 {
  /* font-family: "Cafe24Oneprettynight"; */
  font-size: 18px;
  text-align: left;
  padding: 0 30px;
}
.news .newSwiper p {
  line-height: 28px;
  font-weight: 300;
  text-align: left;
  font-size: 16px;
  margin: 10px 0;
  padding: 0 30px;
  opacity: 0.8;
}
#card-box {
  width: calc(90% / 2);
  margin: 10px 0px;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
/* #card-box:hover{
  scale: 1.05;
} */
#card-box strong{
  font-weight: bold;
}
#card-box h3 {
  padding: 5px;
  margin: 10px 0;
  font-size: 14px;
}
.review-box h1{
  color: #7724c9;
}
.review-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-box1 {
  float: left;
}
.card-box1 > .bar_news span{
  display: block;
  width: 30%;
}
.card-box2 > .bar_news span{
  width: 100%;
}
.card-box3 > .bar_news span{
  width: 76%;
}
.card-box4 > .bar_news span{
  width: 25%;
}
.card-box5 .bar_news span{
  display: block;
  width: 100%;
  height: 5px;
  background-color: #7724c9;
  z-index: 999;
}
.card-box6 .bar_news span{
  display: block;
  width: 43%;
  height: 5px;
  background-color: #7724c9;
  z-index: 999;
}
.news-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.news-card .bar_news {
  width: 100%;
  height: 5px;
  background-color: #ccc;
}
.news-card .bar_news >span{
  display: block;
  height: 5px;
  background-color: #7724c9;
  z-index: 999;
}
.card-text {
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
  padding: 5px;
}
.card-text p {
  font-size: 12px;
  float: left;
}
.card-text b {
  color: #7724c9;
  float: right;
}
.slider-wrap {
  /* overflow: hidden; */
  width: 100%;
  height: 520px;
}
#card-slider {
  margin-left: 120px;
  position: relative;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  /* background-color: #d9b2ff; */
}
#card-slider b{
  color: #7724c9;
  font-size: 20px;
}
.slider-item {
  margin-left: 40px;
  width: 520px;
  height: 150px;
  padding: 20px 0 25px 30px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  opacity: 0;
  z-index: 0;
  box-shadow: 0 4px 9px #f1f1f4;
  position: absolute;
  left: 0;
  top: 0;
}
.slider-item .animation-card_image {
  max-width: 70px;
  max-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 9px rgba(122, 122, 122, 0.72);
  background-color: #ffffff;
}
.slider-item .animation-card_image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.slider-item .animation-card_content {
  width: 100%;
  max-width: 374px;
  margin-left: 26px;
  font-family: "Open Sans", sans-serif;
}
.slider-item .animation-card_content .animation-card_content_title {
  color: #4a4545;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.18px;
  line-height: 30px;
  margin: 0;
}
.slider-item .animation-card_content .animation-card_content_description {
  color: #696d74;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 30px;
  margin: 10px 0 0 0;
}
.slider-item .animation-card_content .animation-card_content_city {
  font-size: 11px;
  margin: 10px 0 0 0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #696d74;
}
.news .swiper-pagination-bullet {
  width: 30px;
  border-radius: 5px;
  background-color: #7724c9;
}
.news-right{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.news-main{
  height: 100%;
}
#mb-text{
  display: none;
}
@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
  .news .inner{
    overflow: hidden;
  }
  .news .title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    height: 100px;
    overflow: hidden;
  }
  .news h1 {
    font-family: 'AppleSDGothicNeo';
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
  }
#card-box{
  padding: 10px 10px;
}
#card-box h3{
  font-size: 13px;
}
  .slider-item {
    width: 370px;
    height: 140px;
    padding: 20px 0 25px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    z-index: 0;
    box-shadow: 0 4px 9px #f1f1f4;
    position: absolute;
    left: -70px;
    top: 0;
  }
  .slider-wrap {
    padding-top: 20px;
    width: 100%;
    height: 520px;
  }
#card-slider p{
  margin: 3px;
  font-size: 12px;
}
#card-slider h4{
  font-size: 12px;
}
.slider-item .animation-card_image {
  max-width: 50px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 9px rgba(122, 122, 122, 0.72);
  background-color: #ffffff;
}
.review-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin: 0;
}
.news .newSwiper p {
  line-height: 25px;
  font-weight: 300;
  text-align: left;
  font-size: 13px;
  margin: 0;
  padding: 0 15px;
  opacity: 0.8;
}
.news .newSwiper h1 {
  font-family: "Noto Sans KR";
  font-weight: 500;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: block;
  font-size: 16px;
  padding: 0 15px;
  text-align: left;
}
.news .newSwiper h2 {
  /* font-family: "Cafe24Oneprettynight"; */
  font-size: 16px;
  text-align: left;
  padding: 0 15px;
  margin-bottom: 10px;
}
.news .newSwiper {
  width: 80%;
  height: 80%;
  margin-top: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.news-right{
  width: 50%;
  height: 78%;
  display: flex;
  flex-direction: column;
}
.news-main{
  height: 100%;
}
}
@media all and (max-width: 760px) {
}
@media all and (max-width: 480px) {
  .news{
    height: 1450px;
  }
  .news .mb_title1{
    font-family: 'GmarketSansMedium';
    display: block;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .news .mb_title1 i{
    font-size: 15px;
  }
  .news .mb_title2{
    font-family: 'GmarketSansMedium';
    display: block;
    text-align: center;
    font-size: 15px;
    margin: 50px 0;
  }
  .news .mb_title2 i{
    font-size: 15px;
  }
  .news-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news .title{
    display: none;
  }
  .news .inner{
    padding: 0;
  }
  .news-right{
    width: 100%;
    height: 70%;
  }
  .news-card{
    /* margin-top: 10px; */
    padding: 10px 20px;
    padding-left: 5px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    align-content: normal;
    /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
  }
  #card-box {
    width: 60%;
    margin: 0px 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
  }
  #card-box h3{
    font-size: 12px;
  }
  .slider-wrap{
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .slider-item {
    width: 380px;
    height: 150px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    z-index: 0;
    box-shadow: 0 4px 9px #f1f1f4;
    position: absolute;
    /* left: -70px; */
    top: 0;
  }
  .news .newSwiper {
    width: 80%;
    height: 100%;
    /* margin-top: 100px; */
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #card-slider b{
    color: #7724c9;
    font-size: 12px;
  }
  #card-slider h4{
    line-height: 25px;
  }
  #card-slider p{
    line-height: 25px;
    margin: 0;
  }
  .slider-item .animation-card_image img {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
  }
  .slider-item .animation-card_image {
    max-width: 200px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* box-shadow: 0 4px 9px rgba(122, 122, 122, 0.72); */
    background-color: #ffffff;
  }
  .news .newSwiper p {
    line-height: 23px;
    font-weight: 300;
    text-align: left;
    font-size: 13px;
    margin-top: 10px;
    padding: 0 5px;
    opacity: 0.8;
    display: block;
  }
  #mb-text{
    display: none;
    line-height: 25px;
  }
  .news .newSwiper h1 {
    font-family: "Noto Sans KR";
    font-weight: 500;
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 16px;
    padding: 0 5px;
    text-align: left;
  }
  .news .newSwiper h2 {
    /* font-family: "Cafe24Oneprettynight"; */
    font-size: 13px;
    text-align: left;
    padding: 0 5px;
    margin-bottom: 5px;
  }
  body > section.news > div > div.news-main > div.news-right > div.swiper.newSwiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
    padding: 10px;
  }
}
@media all and (max-width: 320px) {
  .news{
    height: 1500px;
  }
  .news .mb_title1{
    font-family: 'GmarketSansMedium';;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .news .mb_title1 i{
    font-size: 15px;
  }
  .news .mb_title2{
    font-family: 'GmarketSansMedium';;
    display: block;
    text-align: center;
    font-size: 15px;
    margin: 50px 0;
  }
  .news .mb_title2 i{
    font-size: 15px;
  }
  .news-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news .title{
    display: none;
  }
  .news .inner{
    padding: 0;
  }
  .news-right{
    width: 100%;
    height: 70%;
  }
  .news-card{
    /* margin-top: 10px; */
    padding: 10px 20px;
    padding-left: 5px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    align-content: normal;
    /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
  }
  #card-box {
    width: 90%;
    margin: 0px 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
  }
  #card-box h3{
    font-size: 12px;
    letter-spacing: -1px;
  }
  .slider-wrap{
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .slider-item {
    width: 250px;
    height: 200px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    z-index: 0;
    box-shadow: 0 4px 9px #f1f1f4;
    position: absolute;
    /* left: -70px; */
    top: 0;
  }
  .news .newSwiper {
    width: 90%;
    height: 100%;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #card-slider b{
    color: #7724c9;
    font-size: 12px;
  }
  #card-slider h4{
    line-height: 25px;
  }
  #card-slider p{
    line-height: 25px;
    margin: 0;
  }
  .slider-item .animation-card_image img {
    width: 120px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }
  .slider-item .animation-card_image {
    max-width: 120px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* box-shadow: 0 4px 9px rgba(122, 122, 122, 0.72); */
    background-color: #ffffff;
  }
  .news .newSwiper p {
    line-height: 23px;
    font-weight: 300;
    text-align: left;
    font-size: 12px;
    margin: 0;
    padding: 0 5px;
    opacity: 0.8;
    display: none;
  }
  #mb-text{
    display: block;
    line-height: 20px;
  }
  .news .newSwiper h1 {
    font-family: "Noto Sans KR";
    font-weight: 500;
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 15px;
    padding: 0 5px;
    text-align: left;
  }
  .news .newSwiper h2 {
    /* font-family: "Cafe24Oneprettynight"; */
    font-size: 15px;
    text-align: left;
    padding: 0 5px;
    margin-bottom: 5px;
  }
  body > section.news > div > div.news-main > div.news-right > div.swiper.newSwiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
    padding: 10px;
  }

}
