@charset "utf-8";

/* 후기 게시판 */
/* 후기 썸네일 */
#review {
  width: 100%;
  height: 100%;
}
/* 기부 타이틀 */
.reviewTitle {
  width: 100%;
  height: 220px;
  padding: 30px 50px;
  background-color: #eee7f3;
  user-select: none;
}
.reviewTitle h2 {
  font-size: 2.5em;
  text-align: left;
  padding-bottom: 10px;
  color: #333;
  font-family: "GmarketSansMedium";
}
.reviewTitle > ul > li {
  font-size: 15px;
  padding: 5px 0;
  display: block;
  color: #424242;
}

/* 기부 게시글  */
.board_st {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

table .subject a {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  max-width: 90%;
}
#board_st caption {
  text-indent: -9999;
  width: 0;
  height: 0;
  font-size: 0;
}

thead {
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  table-layout: fixed;
}
tr {
  border-bottom: 1px solid #ccc;
}

tbody {
  font-size: 15px;
}
th {
  padding: 10px 10px;
  background-color: #d8d8d8;
  line-height: initial;
}
th:nth-child(1) {
  width: 8%;
}
th:nth-child(2) {
  width: 15%;
}
th:nth-child(3) {
  width: 45%;
}
th:nth-child(4) {
  width: 15%;
}
th:nth-child(5) {
  width: 7%;
}
th:nth-child(6) {
  width: 5%;
}
td {
  text-align: center;
  padding: 13px;
  border-bottom: 1px dashed #ccc;
  color: #555;
}
tr:nth-child(2n) {
  background-color: #ececec;
}
td:nth-child(3) {
  text-align: left;
}
td:nth-child(2) {
  font-weight: 600;
}
/* 좋아요 */
.hearttitle {
  width: 100%;
  height: 100%;
  position: relative;
}
.heart {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
    no-repeat;
  background-size: cover;
  background-position: 13px 0px;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  position: absolute;
  top: 0;
}
.heart.is-active {
  overflow: hidden;
  transition-duration: 1s;
  background-position: -1137px 0px;
}

#searchContainer .subject {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 2px;

  padding-left: 20px;
}
#searchContainer .subject select {
  height: 30px;
  width: 20%;
  max-width: 150px;
  border: 1px solid #ccc;
  border-radius: 3px;
  /* margin-right: 5px; */
}
#searchContainer .subject input {
  height: 30px;
  width: 150px;
  padding: 0 10px;
  margin-left: 5px;
}
#searchContainer .subject button {
  height: 30px;
  width: 70px;
  padding: 0 5px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
}
#writeBtn {
  width: 15%;
  max-width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: #8d5cb2;
  color: #fff;

  cursor: pointer;
}
#writeBtn:hover {
  background-color: #8038c7;
}
#postClosseBtn {
  background-color: #8d6eab;
}
#postClosseBtn:hover {
  background-color: #8038c7;
}
/* 검색기능 - 분류 */
.subject option {
  background: #eee7f3;
}
/* 페이지번호 */
.page {
  width: 100%;
  background: #fdfdfd;
  padding: 1rem;
  border-radius: 0.2rem;
  counter-reset: pagination;
  text-align: center;
  margin: 0 auto;
  /* margin-bottom: 7rem; */
}
.pageContainer {
  width: 400px;
  text-align: center;
  display: inline-block;
}
.page:after {
  clear: both;
  content: "";
  display: table;
}
.page ul {
  width: 100%;
}

.page ul,
li {
  list-style: none;
  display: inline;
  padding-left: 0px;
}

.page li {
  counter-increment: pagination;
}
.page li:hover a {
  color: #fdfdfd;
  background-color: #8d5cb2;
  border: solid 1px #8d5cb2;
}
.page li.active a {
  color: #fdfdfd;
  background-color: #8d5cb2;
  border: solid 1px #8d5cb2;
}
.page li:first-child {
  float: left;
}
.page li:first-child a:after {
  content: "Previous";
}
.page li:nth-child(2) {
  counter-reset: pagination;
}
.page li:last-child {
  float: right;
}
.page li:last-child a:after {
  content: "Next";
}
.page li a {
  border: solid 1px #d7d7d7;
  border-radius: 0.2rem;
  color: #7d7d7d;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}
.page li a:after {
  content: " " counter(pagination) " ";
}

.middle li a {
  display: none;
}
.middle li:first-child a {
  display: inline-block;
}
.middle li:first-child a:after {
  content: "<";
}
.middle li:last-child a {
  display: inline-block;
}
.middle li:last-child a:after {
  content: ">";
}
.middle li:nth-child(2) a {
  display: inline-block;
}
.middle li:nth-child(3) a {
  display: inline-block;
}
.middle li:nth-child(4) a {
  display: inline-block;
}
.middle li:nth-child(5) a {
  display: inline-block;
}
.middle li:nth-last-child(2) a {
  display: inline-block;
}
.middle li:nth-last-child(3) {
  display: inline-block;
}
.middle li:nth-last-child(3):after {
  padding: 0 1rem;
  content: "...";
}

/* 작성글 */
.writecontainer {
  width: 100%;

  margin-bottom: 20px;
}
.writecontainerbox {
  background-color: #f7f7f7;
  padding: 20px 79px;
  margin-top: 20px;
  /* display: none; */
}

.writecontainer h1 {
  font-size: 25px;
  text-align: left;
  padding-left: 50px;
  padding-bottom: 10px;
  font-weight: 600;
  color: #333;
}
.post-form {
  padding: 20px 50px;
}
.posttitles {
  display: flex;
  width: 100%;
}
.posttitles .nickname {
  width: 30%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.posttitles .talking {
  width: 70%;
  display: flex;
  justify-content: center;
}

.posttitles input[type="text"] {
  height: 30px;
}

.writecontainer label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
}
#postWriter {
  width: 80%;
}
.writecontainer input[type="text"],
textarea {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}
/* .postcontents textarea{
  height: 500px;
} */
.postBtns {
  display: inline-block;
  float: right;
}
.writecontainer button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: #8d5cb2;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
  display: inline-block;
}
.writecontainer button:hover {
  background-color: #8038c7;
}
/* #postImage {
  margin-left: 77px;
} */
#postList {
  height: 800px;
  overflow-y: auto;
}
#postDate {
  width: 120px;
  padding: 2px;
}
#postContent {
  height: 150px;
}
.post {
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.post-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.post-details img {
  max-width: 100px;
  min-width: 100px;
  margin-left: 20px;
}
.del > .delete-post-btn {
  border: none;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background: none;
  color: #824ba7;
  display: inline-block;
}
.del > .delete-post-btn:hover {
  background: none;
  font-weight: bold;
}
/* 헤더 포커스 */
.header .nav ul li:nth-child(5) a {
  color: #ad5cff;
}
.header .nav ul li:nth-child(5):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  display: block;
  width: 100%;
  height: 3px;
  background: #ad5cff;
  opacity: 1;
}
@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
  .post-form {
    padding: 20px 40px;
  }
}
@media all and (max-width: 1024px) {
  .reviewTitle {
    height: 200px;
    padding: 30px 20px;
  }
  /* 기부검색기능 */
  #searchContainer {
    padding: 0 20px;
  }
  #searchContainer .date input {
    max-width: 110px;
  }
  #searchContainer .subject {
    padding-left: 5px;
  }
  /* 작성글 */
  .post-form {
    padding: 20px 15px;
  }
}
@media all and (max-width: 760px) {
  /* 기부타이틀 */
  .reviewTitle {
    padding: 15px 20px;
  }
  .reviewTitle > ul > li {
    font-size: 15px;
    padding: 2px 0;
  }
  .reviewTitle h2 {
    font-size: 2em;
    margin-top: 10px;
  }
  #searchContainer {
    /* height: 50px; */
    padding: 10px;
  }
  #searchContainer .date {
    display: inline-block;
  }
  #searchContainer .date .datelist {
    display: none;
  }
  #searchContainer .subject {
    justify-content: center;
    padding-left: 0px;
  }
  #searchContainer .subject select {
    height: 30px;
    width: 20%;
  }
  #writeBtn {
    width: 300px;
  }
  .writecontainerbox {
    padding: 0;
  }
  .posttitles {
    flex-direction: column;
    position: relative;
  }
  .posttitles .nickname {
    width: 100%;
    margin-bottom: 5px;
  }
  .posttitles .talking {
    width: 100%;
  }
  .writecontainer h1 {
    font-size: 1.8em;
    padding-left: 45px;
    padding-bottom: 0px;
    font-weight: 500;
  }
  .writecontainer label {
    width: 10% !important;
  }
  .writecontainer input[type="text"],
  textarea {
    padding: 10px;
    width: 100%;
    margin-left: 20px;
  }

  .writecontainer input[type="text"] {
    margin-right: 110px;
  }

  .writecontainer button {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 65px;
  }
  #postWriter {
    width: 100%;
  }
  #postDate {
    margin-left: 10px;
  }
  .pageContainer {
    width: 70%;
  }
  .middle li:nth-child(5) a {
    display: none;
  }
}

@media all and (max-width: 480px) {
  #review .inner {
    padding: 0;
  }
  .reviewTitle {
    height: 198px;
    padding: 15px 10px;
  }
  .writecontainer h1 {
    padding-left: 13px;
    font-size: 1.5em;
  }
  .writecontainer label {
    margin-bottom: 0;
  }
  #postImage {
    margin-left: 0px;
  }
  .pageContainer {
    width: 60%;
  }
  #postTableBody .date {
    font-size: 13px;
  }
  #postTableBody {
    font-size: 14px;
  }
  #postTableBody .writer {
    font-size: 13px;
  }
  .middle li:nth-last-child(3) {
    display: none;
  }

  .middle li:nth-last-child(2) {
    display: none;
  }
}
@media all and (max-width: 480px) {
  .pageContainer {
    width: 70%;
  }
  .writecontainer label {
    width: 15% !important;
    font-size: 1.2em;
  }
}
